package-lock.json
composer.*
vendor/
dev/
/config.php
ads.php
.spyderproject
.spyproject
update.min.js
crowdin.yaml
*.mo
*.po
.idea/
xgettext.*
/node_modules/
/nbproject/private/
nbproject/
.well-known/
__pycache__/
ads/
static/root/ads.txt
