RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^/new/?([a-zA-Z0-9_-]+)\.html$ $1.php [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^/new/?([a-z]{2}(-[a-z]{2})?)/([a-zA-Z0-9_-]+)\.html$ $3.php?lang=$1 [L,QSA]

RewriteRule ^/new/?([a-z]{2}(-[a-z]{2})?)/$ index.php?lang=$1 [L,QSA]



RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^/?([a-z]{2}((_|-)[a-zA-Z]{2})?)/update\.html$ update-browser.php?lang=$1 [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^/?update\.html$ update-browser.php [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^/?([a-z]{2}((_|-)[a-zA-Z]{2})?)/update-outdated\.html$ update-browser.php?lang=$1 [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^/?update-outdated\.html$ update-browser.php [L,QSA]


RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^/?([a-zA-Z0-9_-]+)\.html$ $1.php [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^/?([a-z]{2}((_|-)[a-zA-Z]{2})?)/([a-zA-Z0-9_-]+)\.html$ $3.php?lang=$1 [L,QSA]

RewriteRule ^/?([a-z]{2}((_|-)[a-zA-Z]{2})?)/$ index.php?lang=$1 [L,QSA]




AddCharset utf-8 .js

<FilesMatch "update.*.js">
  Header set Cache-Control "public, max-age=172800"
  ExpiresDefault "access plus 2 days"
  SetOutputFilter DEFLATE

  #BEGIN Disable ETag
  Header unset ETag
  FileETag None
  #END Disable ETag
</FilesMatch>

#no cache
<FilesMatch "update.showx.js">
    Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
    Header set Pragma "no-cache"
    Header set Expires "Wed, 11 Jan 1984 05:00:00 GMT"
  SetOutputFilter DEFLATE
</FilesMatch>

<FilesMatch ".png">
  Header set Cache-Control "public, max-age=864000"
</FilesMatch>


<FilesMatch "/new/">
    Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
    Header set Pragma "no-cache"
    Header set Expires "Wed, 11 Jan 1984 05:00:00 GMT"
</FilesMatch>
