body,html {
	font-size: 13px;
	font-family: Verdana, Arial, sans-serif;
	line-height: 1.2;
	color: #333;
	text-align: center;
	line-height:1.5;
	margin:0;
	padding:0;
}

#co {
	width: 775px;
	margin: auto;
	text-align: left;
	position: relative;
        clear: both;
        margin-bottom: 25px;
}

@media only screen and (max-width: 1200px){
     #co {
	width: 775px;
	margin-left: 30px;
     }
}

@media only screen and (max-width: 970px){
    body #co {
	width: auto;
	margin-left: 30px;
        margin-right: 150px;
        min-width: 620px;        
        padding-top: 20px;
     }
    body .men {
        position:relative;
        top: 10px;
        right: auto;
        margin: auto;
        width: auto;
    }
         
 }


/* For mobile sites*/
@media only screen and (max-width: 600px) {
    body #co {
        width:auto;
        margin-left: 10px;
        margin-right: 10px;
        min-width: 200px;
        padding-top: 0;
    }
    body .adc {
        float: none;
        margin: auto;
        text-align: center;

    }

    body .ad {
        margin: auto;
    }

    body #skylarge {
        float: none;
        margin: auto;
        width: auto;
        position: relative;
        left: 0;
        top: 0;
    }

    body .logos,body .logos td,body .logos tr {
        display: block;
        width: auto;
        margin: 0;
        text-align:center;
    }
    body .logos tbody {
        display: inline-block;
    }
    body .logos td {
        width: 48%;
        display: inline-block;
        padding: 0;
    }    

    body .numbs p {
        width: auto;
        display: block;
    }
    
    .advantages li div {
        margin-left: -36px;
        margin-top: 8px;
    }
    
    html body .men {
        position: absolute;
        top: auto;
        bottom: 0;
        right: 0;
        left: 0;
        
        background: no-repeat 0% 0% rgb(238,238,238);
        padding: 7px;  
        border-top: 1px dashed rgb(170,170,170);
    }
    body .header, body .innerhead {
        position: static;
    }
    body {
        position: relative;
        padding-bottom: 60px;
    }    
}


 
img {
	border: none;
}



a {
	color: #e25600;
}

a img {
	border: 0;
}

ul#tabs li a {
	color: #000;
	text-decoration: none;
}

#body {
	clear: left;
	background-color: #f8f8f8;
	border: 1px #f8f8f8 solid;
	padding: 1em;
	margin:0;
	margin-bottom: 1em;
	position: relative;
}

ul h3 {
	margin: 0;
	color: #333;
}

h2.top  {
	margin-top: .1em;
}

h2  {
	margin-top: 1.8em;
	font-family:'Trebuchet MS','Lucida Grande',Verdana,Arial,Sans-Serif;
}

.left {
	overflow: hidden;
	margin: 0;
}

.message {
	font-size: 1.2em;
	margin: .5em;
	margin-bottom: 1.3em;
	padding: 1em;
	padding-top: .1em;
	padding-bottom: .3em;
	overflow: hidden;
	font-weight: normal;

	background: rgb(247,112,0);
        box-shadow: 0 0 6px rgba(0,0,0,0.4);
	color: #fff;
	zoom: 1;
}


#mainmessage {
    font-family: 'Open Sans';
    font-size: 20px;
}

.message p,
.message2 p{
	margin-top: .7em;
}

.message2 {
	font-size: 1.2em;
	border: 1px solid rgb(255, 120, 47);
	background-color: rgb(254, 255, 175);
	margin-bottom: 1em;
	margin-left: .3em;
	margin-right: .3em;
	padding: 1em;
	padding-top: .1em;
	padding-bottom: .1em;
	overflow: hidden;
	font-weight: normal;
}

.advantages {
	font-size: 13px;
	list-style: none;
	margin-left: 5px;
	padding-left: 0;
}
.advantages li {
	margin-bottom: 1.5em;
	padding-left: 40px;
	background-repeat: no-repeat;
	background-position: left top;
	color: #777;
}

.advantages li h3 {
	font-size: 20px;
	line-height: 30px;
}

.advantages .security {
	background: transparent url('./img/security.png') no-repeat 0 0;
}

.advantages .speed {
	background: transparent url('./img/speed.png') no-repeat 0 0;
}

.advantages .compatibility {
	background: transparent url('./img/compatibility.png') no-repeat 0 0;
}

.advantages .comfort {
	background: transparent url('./img/comfort.png') no-repeat 0 0;
}

.notavailable {
	zoom: 1;
	opacity: .5; /* Standard: FF gt 1.5, Opera, Safari */
	filter: alpha(opacity=50); /* IE lt 8 */
	-ms-filter: "alpha(opacity=50)"; /* IE 8 */
	-khtml-opacity: .5; /* Safari 1.x */
	-moz-opacity: .5; /* FF lt 1.5, Netscape */
        text-decoration: none;
}

.clear {
	clear: both;
}



.numbs {margin: -24px 0;}
.numbs p {
    width: 360px;
         display: inline-block;
         text-align: center;
}
.numbs strong,.numbs b {
    display: block;
    font-size: 35px;
    color: #E97A00;
    margin-bottom: -8px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.generate {
	margin: 1em 0;
	padding: .2em .6em;
	border: 1px solid #eee;
	background-color: rgb(250,250,250);
}

.generate #browserversionchooser {
	margin: 0;
        padding-left: 25px;
}
.generate #browserversionchooser label {
    width: 55px;
}
.generate label {
	display: inline-block;
	max-width: 90%;
}

.generate textarea {
	display: block;
	width: 95%;
	height: 17em;

	background: #fff;;
	border:1px solid #F1F1F1;
	clear:both;
	color:#606060;
	font-size:11px;
	margin:0 0 10px 5px;
	padding:6px;
	position:relative;
}


select, textarea, input {
	background-color:#FAFAFF;
	border:1px solid #ddd;
	color:#669;
}
input {
	vertical-align: top;
}
input.small {
	width: 3em;
}

.steps {
    font-size: 11pt;
    counter-reset: listNumbering;
}

.steps li {
    margin-bottom: 20px;
    counter-increment: listNumbering;
    display: block;
    position: relative;        
}



.steps li::before {
    content: counter(listNumbering,decimal);
    font-size: 35px;
    color: #555;
    position: absolute;
    left: -30px;
    top: -12px;
    font-weight: bold;
    font-family: 'Open Sans';
}

/*Table*/
table {
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 0.8em;
	/*table-layout: fixed;*/
	clear: both;
}

table th {
	text-align: left;
	background-color: #eee;
}

table thead th,
table thead td,
table.log thead td,
table.notifications thead td {
	background-color: #eee;
	font-weight: bold;
	border-bottom: 2px solid #aaa;
}

table tbody th:nth-child(odd),
table tbody td:nth-child(odd) {
	/*background-color: #fff;*/
}

td,
th
{
	/*overflow: hidden;*/
	padding: 0.2em;
	padding-right: 1em;
	vertical-align: top;
}

pre {
    color:maroon;
    overflow-x: auto;
}

code {
    color:maroon;
}













/*********************************************  NEW!!!*/

body, p {
    font-family: sans-serif;
}

    h1,h2,h3,a.l {
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
    }
    
    h1 {
        margin-bottom:0;
	margin-top:18px;
    }

    .logos {
        width: 100%;
        border: none;
    }
.logos td {
    vertical-align: top;
    padding: 10px;
    border: none;
    background: none;
    width: 25%;
}


    
.bf a {
	background-image: url('/img/big/ff.png');
}

.bi a {
	background-image: url('/img/big/ie.png');
}

.bo a {
	background-image: url('/img/big/op.png');
}

.bc a {
	background-image: url('/img/big/ch.png');
}

.bs a {
	background-image: url('/img/big/sa.png');
        background-size: 110px 110px;
}

#co {
    width: 750px;
}

.header {
    position:relative;
    top:0;
    margin-bottom: 10px;
    padding:5px;    
    padding-left: 10px;
    padding-top: 3px;
    background: no-repeat 0% 0% rgb(238, 238, 238);
    height: auto;
    text-align: left;
    border-bottom: 1px dashed rgb(170, 170, 170);
}

.header a {
	text-decoration: none;
	color: #000;
}

.header h1 {
    margin: 0px;
    display: inline;
}

.tagline {
    color: rgb(136, 136, 136);
    padding-left: 2px;
    /*
    display: inline;
    vertical-align: baseline;
    padding-left: 5px;
    */
}
.innerhead {
    position: relative;
    margin: auto;
    max-width: 1280px;
}

.men {
    position: absolute;
    right: 10px;
    top: 8px;
}

.men div {
    float: left;
    margin-left: 10px;
    background: none repeat scroll 0% 0% #ddd;
    padding: 4px 6px 2px;
    border-radius: 5px;
    color: #777;
    margin-bottom: 5px;
}



a.l {
    display: block;
    padding: 4px;

    padding-top: 110px;    
    background-repeat: no-repeat;
    background-position: center 4px;
    text-decoration: none;
    text-align: center;
    
    border: 2px solid transparent;
    position: relative;
}

a.l:hover {
    border: 2px dotted rgb(170, 170, 170);
}


a.l .bro {
    white-space: nowrap;
    text-decoration: underline;
    font-size: 19px;
}



a .vendor {
    color: #aaa;
    text-align: center;
    font-size: 10px;
    display: block;
}
a .na {
    display: none;
    color: #000;
}
a:hover .na {
    display: block;
    cursor: default;
}
a.notavailable .bro {
        text-decoration: none !important;
}


.subnote {
    color: #aaa;
    font-size: 12px;
}



.whatnow {
    text-align: center;
    margin: 13px 25px;
}
.adc {
    font-size: 12px;
    margin-left: 10px;
    float: right;
    text-align: right;
    margin-top:0;
    margin-bottom: 10px;
}


#sky {
    float: right;
    text-align: right;
    margin-left: 10px;
}
#sky .ad {
    border: none;
}

@media only screen and (min-width: 1130px) {
    #sky {
        float:none;
        position: absolute;
        top: -19px;
        right: -200px;
    }
} 

.ad {
    border: 1px solid #ccc;
    /*width: 300px;
    height: 250px;*/
}


.noti {
    margin: 35px 0;
    border: 1px solid #777;
    box-shadow: 0 0 8px #888;
    background: #FFF4F4;
    text-align: center;
}

.noti h2,
.noti p {
    margin: 13px 25px;
    font-size: 19px;
}
/*
body .advantages li {
    display: inline-block;
    width: 231px;
    padding-left: 13px;
    vertical-align: top;
}
h3 {
    text-transform: uppercase;
}
*/




#lang2 {
	position: relative;
        z-index: 500;
}
#lang2 div {
    position: absolute;
    padding: 5px;
    margin:0;
    margin-top: 18px;    
    top:0;
    background-color: #ddd;
    display: none;
    width: 200px;
    left: -60px;
}

#lang2:hover div{
    display: block;
    background-color: #ddd;
}
#lang2 div a {
    display: block;
    float:left;
    min-width: 97px;
}

.men div:hover,
#lang2 a:hover {
    background-color: #fff;
}


.adv > div > div {
	float: left;
	width: 30%;
	padding-right: 3%;
}
.adv:after {
	clear: both;
	content: " ";
    display: table;
}
.adv h3 {
	font-size: 18px;
	margin-bottom: 5px;
}

#cookiebar {
    position: fixed;
    right: 0;
    bottom: 0;
    border: 1px solid#aaa;
    background: #eee;
    padding: 2px;
}

#cookiebar a {
    cursor: pointer;
    border: 1px solid #ccc;
    padding: 1px 3px;
    border-radius: 4px;
    background: rgba(230,230,230,0);    
}

.testwarning {
    background: repeating-linear-gradient( 45deg, #ffd545, #ffd545 10px, #FFF754 10px, #FFF754 20px );
    padding: 20px 20px;
    font-size: 16px;
}

/* display of bar inside the page */

.example {
    background: #FDF2AB url(/img/dialog-warning.gif) no-repeat 1em 0.55em;
    background-position: 8px 17px; 
    z-index:111111;     
    border-bottom:1px solid #A29330;    
    text-align:left; 
    cursor:pointer;        
    background-color: #fff8ea;    
    font: 17px Calibri,Helvetica,Arial,sans-serif;    
    /*box-shadow: 0 0 5px rgba(0,0,0,0.2);*/
}
.example div { 
    padding: 11px 12px 11px 30px;  
    line-height: 1.7em; 
}
.example div a,.example div a:visited, .greenbut { 
    text-indent: 0; 
    color: #fff;    
    text-decoration: none;    
    box-shadow: 0 0 2px rgba(0,0,0,0.4);    
    padding: 1px 10px;    
    border-radius: 4px;    
    font-weight: normal;    
    background: #5ab400;    
    white-space: nowrap;   
    margin: 0 2px; display: inline-block;
}

#buorgig { 
    background-color: #edbc68;
}