{% extends "base.html" %}

{% block content %}


<h2>Translations</h2>
<p>
New translations  of this site or improvements of existing translations are always appreciated.
Start translating using <a href="https://crowdin.com/project/browser-update">the crowdin online translation tool</a>.
<a href="https://crowdin.com/page/quick-start">Learn how to translate</a>.
</p>

<h2>Development</h2>
<p>
        This is an open-source project. The development takes place on the Github
        <a href="https://github.com/browser-update/browser-update">browser-update project</a> where
	we also collect <a href="https://github.com/browser-update/browser-update/issues">ideas and bugs</a>.
        The script is MIT-Licensed.
</p>

<h2>E-Mail</h2>
<p>
    Please contact <b>contact@browser-update.org</b> for questions and ideas.
</p>

<h2>Team</h2>
<p>
	We are a team of webdesigners, webmasters and open-web enthusiasts. Join us.
</p>
<ul>
    <li>
            Thomas Hümmer ( contact <var>æ</var> browser-update.org )
    </li>
    <li>
            David Danier
    </li>
</ul>


<p>
    Browser-Update.org is an intiative started by
    <a href="http://www.webmasterpro.de/">Webmasterpro.de</a> in 2008.<br/>
    <a href="http://www.webmasterpro.de/"><img src="/static/img/wmp_logo.png" alt="" /></a>
</p>

<h2>Browser-Testing</h2>
<a href="http://browserstack.com"><img src="/static/img/blog/logo-browserstack.png" style="float:right; width: 200px"></a>
<p>
We are using the excellent <a href="http://browserstack.com">browserstack.com</a> cross browser testing tool to make sure the notification and website
is shown correctly on all kinds of browsers and devices.
</p>
<p>
This is especially important since we are, of course, targeting a wide range of old browser.
</p>

<h2>Impressum/Imprint</h2>

<p>
Thomas Hümmer Webentwicklung<br/>
Stillachweg 6e<br/>
D-86163 Augsburg
</p>

<p>
E-Mail: jossele <var>æ</var> gmx.de<br/>
</p>
<p>
Umsatzsteuer-Identifikationsnummer: DE310487889
</p>

<h2>Copyright</h2>

<p>
    Some Images from this site are taken from the
    <a href="http://tango.freedesktop.org/Tango_Icon_Library">Tango Icon Library</a>
    licenesed under <a href="http://creativecommons.org/licenses/by-sa/2.5/">CC-BY-SA </a>
</p>
<p>
    This site uses GeoLite2 data created by MaxMind, available from
<a href="http://www.maxmind.com">http://www.maxmind.com</a>.
</p>

<h2>Privacy policy for using the script on your site</h2>
<p>
    Installing the script on your website does not track users in any way.
    We do not set identification cookies or record IP-addresses.
    No information about the user are recorded. Only completely anonymous statistics for every 1000th visitor about the browser used are collected.
</p>
<h2>Privacy policy for visiting this website</h2>
<p>
    On this website third party vendors use cookies to serve ads based on a user's visits to this site and other sites on the Internet.
    Users may opt out of the use of cookies for interest based advertising by visiting <a href="http://aboutads.info">aboutads.info</a>.
</p>

<p><a href="/privacy-policy-site.html">Volle Datenschutzerklärung für den Besuch dieser Seite / The full privacy policy for visiting this site.</a></p>

{% endblock %}