{% extends "base.html" %}

{% block content %}

    <h2>Datenschutzerklärung</h2>

    <p>Wir erheben und nutzen Daten streng nach den
        Vorgaben der Datenschutz Grundverordnung und des neuen deutschen
        Bundesdatenschutzgesetzes. Wir fühlen uns der Vertraulichkeit Ihrer
        personenbezogenen Daten verpflichtet und arbeiten deshalb innerhalb der gesetzlichen
        Grenzen. Die Erhebung ihrer personenbezogenen Daten erfolgt nur in dem
        erforderlichen Umfang. Ihre Daten werden nur auf ihren besonderen Wunsch hin an
        Dritte weitergeleitet. Darüber hinaus erfolgt eine Weiterleitung an Dritte
        sofern gesetzliche Erfordernisse dafür bestehen. </p>



    <p>Es werden nur solche personenbezogenen Daten
        erhoben, die aus unserer Sicht zur Auftragsabwicklung oder zur Beantwortung
        Ihrer Anfrage erforderlich sind, zur Erfüllung von vertraglichen
        Verpflichtungen, den Betrieb der Website sicherstellen sollen, für uns von
        berechtigtem Interesse sind oder zu denen Sie uns die Einwilligung zur
        Verarbeitung erteilt haben. Die gesetzliche Grundlagen ergeben sich aus Art. 6
        Abs. 1 a), b), f) DSGVO.  </p>



    <p>Sofern Sie Ihre Einwilligung dazu erteilen, erheben
        wir Daten in dem von Ihnen freigegebenen Umfang. Nehmen Sie über angebotene
        Kontaktmöglichkeiten Verbindung zu uns auf, werden Ihre Angaben gespeichert,
        damit auf dies zur Bearbeitung und Beantwortung Ihrer Anfrage zurückgegriffen
        werden kann. </p>


    <p>Hinterlassen Sie auf dieser Website einen
        Beitrag oder Kommentar, wird Ihre IP-Adresse gespeichert. Dies dient der
        Sicherheit: Verstößt Ihr Text gegen das geltende Recht, ist es erforderlich
        Ihre Identität nachzuverfolgen.  </p>


    <p>Die Nutzung unserer Website ist normalerweise
        ohne die Angabe personenbezogener Daten möglich. Soweit solche
        personenbezogenen Daten auf unserer Website erhoben werden, erfolgt dies,
        soweit möglich, stets auf freiwilliger Basis. Diese von uns erhobenen Daten
        werden ohne Ihre ausdrückliche Zustimmung nicht an Dritte weitergegeben.</p>

    <p>Wir möchten an dieser Stelle nochmals darauf
        hinweisen, dass die Datenübertragung im Internet, beispielsweise per E-Mail,
        Sicherheitslücken aufweisen kann. Ein lückenloser Schutz der Daten vor den
        Zugriff durch Dritte kann nicht gewährleistet werden.</p>

    <p>&nbsp;</p>

    <p>Wir halten uns an die Grundsätze der
        Datenvermeidung und Datensparsamkeit. Wir speichern ihre personenbezogenen
        Daten daher nur so lange, wie dies zur Erreichung der hier genannten Zwecke
        erforderlich ist oder wie es die vom Gesetzgeber vorgesehenen vielfältigen
        Speicherfristen vorsehen. Nach Fortfall des jeweiligen Zwecks bzw. Ablauf
        dieser Fristen werden die entsprechenden Daten routinemäßig und entsprechend
        den gesetzlichen Vorschriften gesperrt oder gelöscht.</p>

    <p>&nbsp;</p>

    <h3>Begriffserklärungen</h3>



    <p><b>Website</b> umfasst sämtliche von uns unter der Domain www.browser-update.org zur Verfügung
        gestellten einzelnen Webseiten. </p>

    <p>Bei der <b>DSGVO</b> handelt es sich um die
        Verordnung (EU) 2016/679 des europäischen Parlaments und Rates vom 27.04.2016
        zum Schutz natürlicher Personen bei der Verarbeitung personenbezogener Daten,
        zum freien Datenverkehr und zur Aufhebung der Richtlinie 95/46/EG (Datenschutz-Grundverordnung).</p>



    <p><b>Personenbezogene Daten</b> sind nach Art. 4
        Ziffer 1 DSGVO alle Informationen, die sich auf eine identifizierte oder
        identifizierbare natürliche Person beziehen; als identifizierbar wird eine
        natürliche Person angesehen, die direkt oder indirekt, insbesondere mittels
        Zuordnung zu einer Kennung wie einem Namen, zu einer Kennnummer, zu
        Standortdaten, zu einer Online-Kennung oder zu einem oder mehreren besonderen
        Merkmalen identifiziert werden kann, die Ausdruck des physischen, physiologischen
        genetischen, psychischen, wirtschaftlichen, kulturellen oder sozialen Identität
        dieser natürlichen Person sind.</p>



    <p><b>Verarbeitung</b> im Sinne des Art. 4 Ziffer 2 DSGVO ist
        jeder mit oder ohne Hilfe automatisierter Verfahren ausgeführte Vorgang oder
        jede solche Vorgangsreihe im Zusammenhang mit personenbezogenen Daten wie das
        Erheben, das Erfassen, die Organisation, das Ordnen, die Speicherung, die
        Anpassung oder Veränderung, das Auslesen, das Abfragen, die Verwendung, die
        Offenlegung durch Übermittlung, Verbreitung oder eine andere Form der
        Bereitstellung, den Abgleich oder die Verknüpfung, die Einschränkung, das
        Löschen oder die Vernichtung.</p>

    <p>&nbsp;</p>

    <p><b>Profiling</b> ist nach Art. 4 Ziffer 4 DSGVO ist
        jede Art der automatisierten Verarbeitung personenbezogener Daten, die darin
        besteht, dass diese personenbezogenen Daten verwendet werden, um persönliche
        Aspekte, die sich auf eine natürliche Person beziehen, zu bewerten,
        insbesondere um Aspekte bezüglich Arbeitsleistung, wirtschaftliche Lage,
        Gesundheit, persönliche Vorlieben, Interessen, Zuverlässigkeit, Verhalten,
        Aufenthaltsort oder Ortswechsel dieser natürlichen Person zu analysieren oder
        vorherzusagen.</p>

    <p>&nbsp;</p>

    <p>&nbsp;</p>

    <h3><b>Allgemeine Daten </b></h3>

    <p>Unsere Website erfasst mit jedem Aufruf durch
        Sie  oder ein automatisiertes System eine Reihe von allgemeinen Daten und
        Informationen. Diese Informationen und Daten werden in Log-Files des Servers
        gespeichert. Unter anderem kann es sich dabei um folgende Informationen
        handeln:</p>

    <p>&nbsp;</p>

    <p>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        verwendetes
        Browsersystem und Versionen des Anwenders</p>

    <p>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        verwendetes
        Betriebssystem des Anwenders</p>

    <p>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        die
        Internetseite von welcher der Anwender auf unsere Website gelangt</p>

    <p>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        die
        angesteuerten Unterwebseiten die vom Anwender auf unserer Website aufgerufen
        werden</p>

    <p>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Datum
        und Uhrzeit des Aufrufs unserer jeweiligen Webseite</p>

    <p>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        IP-Adresse</p>

    <p>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Internet-Service-Provider
        über den der Anwender die Webseiten aufruft</p>

    <p>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Daten
        und Informationen die der Gefahrenabwehr im Falle von Angriffen auf unser
        IT-System dienen</p>

    <p>&nbsp;</p>

    <p>Wir ziehen aus diesen Daten keine Rückschlüsse
        auf die betroffene Person. Die Informationen dienen lediglich dem Betrieb der
        Website, deren fortlaufender Funktionstüchtigkeit  und deren Optimierung. Im
        Falle von rechtswidrigen Handlungen können diese Informationen den
        Ermittlungsbehörden zur Verfügung gestellt werden. Nicht zuletzt können wir
        durch diese Informationen den Datenschutz fortwährend sicherstellen und
        erhöhen.</p>

    <p>&nbsp;</p>

    <p>Grundlage der Datenverarbeitung ist Art. 6
        Abs. 1 f) DSGVO. Die Verarbeitung dient hier unserem berechtigten Interesse zum
        einwandfreien Betrieb unserer Website.</p>

    <p>&nbsp;</p>

    <h3><b>Cookies</b></h3>

    <p>Unsere Website verwendet teilweise Cookies.
        Dies sind kleine Textdateien, die auf Ihrem Rechner abgelegt werden und die Ihr
        Browser speichert. Cookies richten auf Ihrem Rechner kein Schaden an und
        enthalten keine Viren. Cookies dienen dazu, unser Angebot nutzerfreundlicher
        effektiver und sicherer zu machen. Manche Cookies enthalten eine sogenannte
        Cookie-ID. Eine Cookie-ID ist eine eindeutige Kennung des jeweiligen Cookies.
        Die Kennung besteht aus einer Zeichenfolge, durch welche Internetseiten und
        Server dem konkreten Internetbrowser zugeordnet werden könnten, in dem das
        Cookie gespeichert wurde. Dies ermöglicht es den besuchten Internetseiten und
        Servern, den individuellen Browser der betroffenen Person von anderen
        Internetbrowsern, die andere Cookies enthalten, zu unterscheiden. Der jeweilige
        Browser kann so über die eindeutige Cookie-ID wiedererkannt und identifiziert
        werden.</p>

    <p>&nbsp;</p>

    <p>Die meisten der von uns verwendeten Cookies
        sind so genannte Fashion Cookies. Sie werden nach Ende Ihres Besuches
        automatisch gelöscht, andere Cookies bleiben auf Ihrem Endgerät gespeichert bis
        sie diese löschen. Die Cookies ermöglichen es uns Ihren Browser beim nächsten
        Besuch wiederzuerkennen.</p>

    <p>&nbsp;</p>

    <p>Selbstverständlich können Sie unsere Website
        auch nutzen, ohne dass Cookies verwendet werden. Sie können Ihren Browser so
        einstellen, dass Sie über die Installation von Cookies informiert werden und
        solche nur im Einzelfall erlauben. Sie können darüber hinaus die Annahme von
        Cookies für bestimmte Fälle oder generell ausschließen. Darüber hinaus ist es
        möglich beim Schließen des Browsers das automatische Löschen der Cookies
        auszuwählen.</p>

    <p>&nbsp;</p>

    <p>Die hierfür notwendigen Einstellungen in dem
        von Ihnen verwendeten Internet Browser entnehmen Sie bitte der Hilfefunktion
        ihres jeweiligen Browsers oder der Dokumentation zu dem von Ihnen verwendeten
        Browser.</p>

    <p>&nbsp;</p>

    <p>Wir weisen darauf hin, dass sich das Ablehnen
        oder Anzeigen von Cookies auf die Funktionalität unserer Website auswirken
        kann.</p>

    <p>&nbsp;</p>

    <p>Die Rechtsgrundlage zur Verwendung von Cookies
        ergibt sich aus Art. 6 Abs. 1 f) DSGVO. Wir haben eine berechtigtes Interesse
        an der Verwendung von Cookies, um eine technisch fehlerfreie und optimierte
        Website zur Verfügung zu stellen.</p>

    <p class=MsoNormal style='margin-left:36.0pt;text-align:justify'>&nbsp;</p>



    <h3><b>Kontaktformular</b></h3>

    <p>Wenn Sie uns per Kontaktformular Anfragen
        zukommen lassen, werden Ihre Angaben aus dem Formular inklusive der von Ihnen
        dort angegebenen Kontaktdaten zwecks Bearbeitung der Anfrage und für den Fall
        von Anschlussfragen bei uns gespeichert. Bei den Daten handelt es sich
        ausschließlich um die von Ihnen zur Verfügung gestellten Daten. Meistens werden
        dies Ihre Email Adresse und Ihr Name sein. Diese Angaben nehmen wir auf, um
        Ihnen noch gezielter Informationen zu Ihrer Anfrage zur Verfügung zu stellen. Die
        Grundlage zur Verarbeitung dieser Daten ergibt sich aus Art 6 Ab.s 1 b) DSGVO. Diese
        Daten geben wir nicht ohne ihre Einwilligung weiter. Durch die Registrierung
        werden ferner die vom Internet-Service-Provider der betroffenen Personen vergebene
        IP-Adresse, das Datum sowie die Uhrzeit der Registrierung gespeichert. Nach
        Erledigung Ihrer Anfrage löschen wir Ihre Daten, sofern Sie keine Einwilligung
        zur weiteren Nutzung erteilt haben oder handels- oder steuerrechtliche Gesetze
        entgegenstehen. </p>

    <p>&nbsp;</p>

    <p>&nbsp;</p>

    <p>&nbsp;</p>

    <h3><b>Google Analytics</b></h3>

    <p>Unsere Website benutzt Funktionen des
        Webanalysedienst des Google-Analytics. Die Benutzung erfolgt auf der Grundlage
        des Art. 6 Abs. 1 S. 1 lit f. DSGVO. Anbieter ist die Google Inc. 1600
        Amphitheatre Parkway Mountain View, CA 94043, USA. Im Rahmen von Google
        Analytics werden ebenfalls Cookies verwendet. Das sind Textdateien, die auf
        Ihrem Computer gespeichert werden und die eine Analyse der Benutzung der
        Website durch Sie ermöglichen. Die durch den Cookie erzeugten Informationen
        über Ihre Benutzung dieser Website werden in der Regel an einen Server von
        Google in den USA übertragen und dort gespeichert. Dabei handelt es sich unter
        anderem um den Browser-Typ/-Version, das verwendete Betriebssysstem, die zuvor
        besuchte Seite, die IP-Adresse und die Uhrzeit der Serveranfrage.</p>

    <p>&nbsp;</p>

    <p>Die Verarbeitung von Daten im Zusammenhang mit
        Google Analytics erfolgt auf Grundlage von Art. 6 Abs. 1 f) DSGVO. Wir haben
        als Betreiber unserer Website ein Interesse an der Analyse des
        Nutzerverhaltens, um sowohl unser Angebot auf unseren Webseiten als auch die
        Werbung zu optimieren. Durch die Nutzung des Internets ist Ihnen bekannt, dass
        solche Analysen erfolgen. Die zur Durchführung der Analyse und Optimierung
        erhobenen Daten sind für die nutzende Person nicht von überragendem Wert. </p>

    <p>&nbsp;</p>

    <p>Im Falle der Aktivierung der IP Anonymisierung
        auf dieser Website wird Ihre IP-Adresse von Google jedoch innerhalb von
        Mitgliedstaaten der Europäischen Union oder in anderen Vertragsstaaten des
        Abkommens über den europäischen Wirtschaftsraum zuvor gekürzt. Nur in
        Ausnahmefällen wird die volle IP-Adresse an einen Server von Google in den USA
        übertragen und dort gekürzt. In unserem Auftrag wird Google diese Informationen
        benutzen, um Ihre Nutzung der Website auszuwerten, um Reports über die Website
        Aktivitäten zusammenzustellen und um weitere mit der Websitenutzung und der
        Internetnutzung verbundene Dienstleistungen gegenüber dem Websitebetreiber zu
        erbringen. Die im Rahmen von Google Analytics von Ihrem Browser übermittelte
        IP-Adresse wird nicht mit anderen Daten von Google zusammengeführt.</p>

    <p>Sie können die Speicherung der Cookies durch
        eine entsprechende Einstellung Ihrer Browser Software verhindern; wir weisen
        Sie jedoch darauf hin dass Sie in diesem Fall gegebenenfalls nicht sämtliche
        Funktionen dieser Website vollumfänglich werden nutzen können. Sie können
        darüber hinaus die Erfassung der durch das Cookie erzeugten und auf Ihre
        Nutzung der Website bezogenen Daten (inklusive Ihrer IP-Adresse) an Google
        sowie die Verarbeitung dieser Daten durch Google verhindern, indem sie das
        unter dem folgenden Link verfügbare Browser-Add-on herunterladen und
        installieren: <a href="http://tools.google.com/dlpage/gaoptout?hl=de">Browser-Add-on</a></p>


    <p>Neben der Option, dass Browser-Add-on  zu
        installieren, gibt es eine weitere Alternative, die Erfassung der Daten durch
        Google Analytics zu verhindern. Sie ist insbesondere für Nutzer mobiler Geräte
        interessant. Klicken Sie dazu bitte auf diesen Link: <a href="javascript:gaOptout()">Google Analytics
            deaktivieren</a></p>

    <p>Sie installieren damit einen so genannten Opt
        Out Cookie, der das Checken der Daten auf dieser Website verhindert. Die
        Funktion bleibt solange bestehen, bis der Cookie gelöscht wird. Wurde der
        Cookie gelöscht reicht es, den Link erneut aufzurufen. Weitere Informationen zu
        den Nutzungsbedingungen und dem Datenschutz erhalten Sie auf den folgenden
        Seiten. </p>


    <p><a
            href="http://google.com/analytics/terms/de.html">http://google.com/analytics/terms/de.html</a> ; <a
            href="http://www.google.dd/intl/de/policies/">http://www.google.dd/intl/de/policies/</a></p>


    <p>Abschließend weisen wir darauf hin, dass auf
        unsere Website Google Analytics um den Code anonymizeIP erweitert wurde, um
        eine anonymisierte Erfassung von IP-Adressen (sog. IP Masking) zu
        gewährleisten.</p>


    <h3>Flashcounter</h3>

    <p>Diese Website benutzt FlashCounter, einen
        kostenlosen Dienst der TEAM23 Internetagentur zur statistischen Auswertung der
        Besucherzugriffe. Die Statistiken zeigen wo der Besucher der jeweiligen
        Webseite herkommt oder wie  er sich auf der Webseite bewegt. Geolocation ist
        durch den Einsatz von Flashcounter ebenfalls möglich. Bei Geolocation handelt
        es sich um eine Möglichkeit, den aktuellen Standort des Besuchers der Webseite
        festzustellen.  Zudem erfolgt eine Systemanalyse (Bsp. Browser, Auflösung,
        Cookies, Flasch). Für die technische Umsetzung werden Cookies (Textdateien, die
        auf dem Computer der Besucher der Webseite gespeichert werden) und die
        Speicherung Ihrer IP-Adresse benötigt. Diese Daten können der einzelnen Person
        nicht zugeordnet werden. Eine Zusammenführung der IP-Adresse mit anderen
        Datenquellen wird nicht vorgenommen. Die IP-Adressen und Cookies werden in der
        Regel nach einigen Tagen aber spätestens nach einem Monat gelöscht. Die durch
        den Cookie erzeugten Informationen über Ihre Benutzung dieses Internetangebotes
        werden auf dem Server der TEAM23 Internetagentur in Deutschland gespeichert.
        Die IP-Adresse wird vor deren Speicherung anonymisiert. In
        datenschutzrechtlicher Hinsicht ergibt sich die Berechtigung zum Einsatz des
        Flashcounters aus Art. 6 Abs. 1 f) DSGVO.</p>

    <p>Ihr
        Besuch dieser Webseite wird aktuell völlig anonym von der FlashCounter
        Webanalyse erfasst. </p>

    <p>Wenn
        Sie dies nicht wünschen, können Sie die Installation von Cookies durch eine
        entsprechende Einstellung Ihrer Browser-Software generell verhindern. In diesem
        Fall können jedoch auf diversen Websites nicht sämtliche Funktionen
        uneingeschränkt nutzbar sein. </p>

    <p>Eine
        weitere Möglichkeit, nicht von der Webanalyse erfasst zu werden, ist ein
        Widerspruch in Form der Speicherung eines sogenannten Opt-Out-Cookies in Ihrem
        Browser. Solange dieser in Ihrem Browser abgelegt ist, wird FlashCounter Ihre
        Benutzerdaten nicht analysieren. </p>

    <p><a name=MerkPosIDE></a>Bitte beachten Sie, dass Ihr
        Widerspruch nicht mehr nachvollzogen werden kann, wenn Sie die Website mit
        einem anderen Browser besuchen oder den Opt-Out-Cookie zwischenzeitlich
        gelöscht haben. In diesem Fall ist eine erneute Speicherung des Opt-Out-Cookies
        nötig. </p>

    <p>Klicken
        Sie den folgenden Link, um den FlashCounter-Opt-Out-Cookie in Ihrem Browser
        abzulegen: <a href="http://fc.webmasterpro.de/optoutcookie.html">FlashCounter-Opt-Out-Cookie</a></p>


    <h3><b>Ihre Rechte </b></h3>

    <p>Die <b>Auskunft</b> über die von uns
        gespeicherten personenbezogenen Daten zu ihrer Person erhalten Sie auf Ihre
        Anfrage. Die Auskunftserteilung ist für Sie kostenfrei. </p>

    <p>&nbsp;</p>

    <p>Ihr Recht auf Auskunft umfasst die Mitteilung
        über die Verarbeitungszwecke, die Kategorien der personenbezogenen Daten, sowie
        die Empfänger oder Empfängerkategorien. Sofern möglich teile ich Ihnen die
        geplante Speicherdauer mit bzw. die Kriterien für die Festlegung dieser Dauer.
        Dies umfasst das Recht, eine <u>kostenfreie Kopie in strukturierten gängigen
            und maschinenlesbaren Format</u> der bezogenen Daten zur Verfügung gestellt zu
        erhalten, wobei die Überlassung der Kopie die Rechte und Freiheiten anderer
        Personen nicht beeinträchtigen darf. Dies beinhaltet ihr Recht auf eine direkte
        <u>Übermittlung der Daten</u> (<b>Recht auf Datenübertragbarkeit</b>) zu einem
        weiteren Unternehmen, sofern dies technisch möglich und rechtlich zulässig ist.
    </p>

    <p>&nbsp;</p>

    <p>Darüber hinaus haben Sie das Recht, die <b>Berichtigung</b>
        Ihrer Daten zu verlangen. Dies beinhaltet das Recht auf Vervollständigung
        (Vervollständigung des Datensatzes selbst; Vervollständigung mittels
        ergänzender Erklärung) unvollständiger personenbezogener Daten unter
        Berücksichtigung der Verarbeitungszwecke. Sofern eine Berichtigung erforderlich
        ist, werden wir alle Empfänger auf Ihr Verlangen hin über die Berichtigung hin
        informieren. </p>

    <p>Ferner besteht ein Recht auf <b>Löschung</b>
        Ihrer Daten. Die Löschung wird auf Ihren Wunsch hin unverzüglich erfolgen. Dies
        gilt nicht für Daten, die aufgrund gesetzlicher Vorschriften aufbewahrt werden
        müssen oder zur Abwicklung des Auftrages noch benötigt werden. Mit Entfallen
        des Zwecks zur Datenerhebung oder dem Ende einer gesetzlich vorgesehenen
        Speicherfrist werden Ihre Daten gelöscht. Das Recht zur Löschung sieht vor,
        dass wir dafür Sorge tragen, dass auf Ihr Verlangen hin die Daten auch bei
        Dritten gelöscht werden. Zu diesem Zweck wird der Dritte über Ihren Namen
        (zwecks Zuordnung) und dem jeweiligen Löschungsverlangen aller Links, Kopien
        und  Replikation informiert.</p>

    <p>Es besteht zudem ein Recht auf <b>Sperrung </b>Ihrer
        bei uns gespeicherten personenbezogenen Daten. Beim Sperren werden die von
        Ihnen gespeicherten personenbezogenen Daten gekennzeichnet, um deren weitere
        Verarbeitung und Nutzung einzuschränken. Sofern das Löschen Ihrer Daten
        aufgrund gesetzlicher, satzungsmäßiger oder vertraglicher Aufbewahrungsfristen
        nicht möglich ist werden wir Ihre Daten ebenfalls sperren und Sie darüber auch
        informieren. Sofern Sie die Richtigkeit Ihrer Daten bestreiten, werden wir
        diese bis zur endgültigen Klärung über die Richtigkeit ebenfalls sperren.
        Sofern Grund zu der Annahme besteht, dass Ihre schutzwürdigen Interessen durch
        die Löschung beeinträchtigt werden, werden wir ebenfalls statt einer Löschung
        die Sperrung der Daten vornehmen. </p>



    <p>Ferner besteht ein Recht auf <b>Einschränkung
        der Verarbeitung</b>. Dies besteht dann, wenn die Richtigkeit der bei uns
        gespeicherten Daten infrage steht.</p>

    <p>&nbsp;</p>

    <p>Daneben steht Ihnen ein <b>Widerspruchsrecht</b>
        gegen die Verarbeitung zu. Zudem besteht ein Recht zur Beschwerde bei der
        Aufsichtsbehörde. In Bayern ist dies das bayerische Landesamt für
        Datenschutzaufsicht, Promenade 27,9 1522 Ansbach, Telefon 0981 531300, E-Mail <a
                href="mailto:poststelle@lda.bayern.de">poststelle@lda.bayern.de</a>. Die
        Datenschutzbehörde des Bundes mit weiteren Anschriften finden Sie unter diesem
        Link: <a
                href="https://www.bfdi.bund.de/DE/Home/home_node.html">https://www.bfdi.bund.de/DE/Home/home_node.html</a>
    </p>

    <p>&nbsp;</p>


    <p>Zur Ausübung Ihrer Rechte wenden Sie sich an
        unseren Datenschutzbeauftragten: Herrn Peter Umbach , up Rechtsanwälte,
        Gögginger Straße 93, 86199 Augsburg, Tel. 0821 650 997 0, Fax 0821 650 997 99, <a
                href="mailto:datenschutz@up-rechtsanwaelte.de">datenschutz@up-rechtsanwaelte.de</a></p>

    <p>&nbsp;</p>

    <h3><b>Änderungen unserer Datenschutzbestimmungen</b></h3>

    <p>Wir behalten uns vor, diese
        Datenschutzerklärung gelegentlich anzupassen, damit sie stets den aktuellen
        rechtlichen Anforderungen entspricht oder um Änderungen unserer Leistung in der
        Datenschutzerklärung umzusetzen. Z.B. bei der Einführung neuer Services. Für
        einen neuen Besuch gilt dann die neue Datenschutzerklärung.</p>

    <p>Verantwortliche im Sinne der
        Datenschutz-Grundverordnung ist:</p>


    <p>Thomas Hümmer Webentwicklung<br/>
    Stillachweg 6e<br/>
    D-86163 Augsburg
    </p>

    <p>jossele @ gmx . de</p>

    <p>www.browser-update.org</p>

    <script>
        function gaOptout() {
            document.cookie = 'noanalytics==true; expires=Thu, 31 Dec 2099 23:59:59 UTC; path=/';
            alert('Google Analytics OptOut successful');
        }
    </script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110098170-1"></script>
    <script>
        if (document.cookie.indexOf('noanalytics=true') > -1) {
            var gaProperty = 'UA-110098170-1';
            window['ga-disable-' + gaProperty] = true;
        }
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-110098170-1', {
            'page_title': 'Privacy policy',
            'page_location': 'http://browser-update.org/privacy-policy-site.html',
            'page_path': '/update-browser.html',
            'campaignName': "standard",
            'anonymize_ip': true
        });

    </script>
{% endblock %}